#navbar{
    position: absolute;
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    z-index: 100;

    .umenu{
        display: flex;
        justify-content: flex-end;
        ul{
            li{
                color: #fff;
                padding: 0px 15px;
                transition: .3s;
                cursor: pointer;
                font-weight: 500;
                &:hover{
                    color: aqua;
                }
                &:first-child span{
                    border-bottom: 2px solid aqua;

                }
            }
        }
    }
}

// Navbar end

#slider{
    background-image: url(../photo/banner1-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
    .slider-content{
        position: relative;
        z-index: 5;
        color: #fff;
        span{
            font-size: 40px;
        }
        h2{
            font-size: 60px;
        }
        small{
            font-size: 20px;
        }
    }
    .slider-count{
        position: absolute;
        z-index: 9;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        li{
            padding-right: 15px;
            padding-bottom: 5px;
            &.dots-active{
                border-bottom: 2px solid #fff;
            }
        }
    }
}

// Slider end

#services-slider{
    margin-top: -140px;
    margin-bottom: 5em;
    .services-item{
        text-align: center;
        padding: 3rem 1.5rem;
        background: #26313c;
        color: #fff;
        i{
            transition: .3s;
        }
        &:hover{
            i{
                transform: scale(1.4);
            }
        }
        &.services-item-active{
            margin-top: -25px;
            padding: 5rem 1.5rem;
            background: linear-gradient(to right, #5192e1 0%, #23ced5 100%, #5192e1 100%);;
            position: relative;
            z-index: 1;
            &::after{
                z-index: -1;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: linear-gradient(to left, #5192e1 0%, #23ced5 100%, #5192e1 100%);;
                transition: .5s linear;
            }
            &:hover{
                &::after{
                    opacity: 1;
                }
            }
        }
        h3{
            margin: 15px 0;
        }
    }
}

// Services slider end

#about{
    .about-left{
        margin-top: 40px;
        button{
            position: relative;
            padding: 10px 30px;
            border: none;
            border-radius: 20px;
            color: #fff;
            font-weight: 500;
            z-index: 1;
            background: linear-gradient(to right, #5192e1 0%, #23ced5 100%, #5192e1 100%);;
            &::after{
                z-index: -1;
                content: '';
                position: absolute;
                border-radius: 20px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: linear-gradient(to left, #5192e1 0%, #23ced5 100%, #5192e1 100%);;
                transition: .5s linear;
            }
            &:hover{
                &::after{
                    opacity: 1;
                }
            }
        }
        h2{
            font-size: 45px;
            a{
                text-decoration: none;
                color: aqua;
            }
        }
        p{
            padding: 20px 0;
            color: rgb(100, 100, 100);
        }
    }
}

// About end

#plan{
    background-color: #26313c;
    color: #fff;
    padding: 60px;
    .work{
        width: 100%;
        h2{
            font-size: 50px;
        }
    }
    .concept{
        padding: 40px 0;
        width: 100%;
        li{
            span{
                width: 90px;
                height: 90px;
                line-height: 90px;
                padding: 20px 23px;
                border: 1px solid;
                border-radius: 50%;
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 20px;
                position: relative;
                transition: .3s;
                z-index: 1;
                cursor: pointer;
                &::after{
                    position: absolute;
                    z-index: -1;
                    content: '';
                    opacity: 0;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    border: none;
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    background: linear-gradient(to right, #5192e1 0%, #23ced5 100%, #5192e1 100%);;
                }
                &:hover{
                    border: none;
                    &::after{
                        opacity: 1;
                    }
                }
            }
            .fp{
                font-weight: 500;
            }
        }
    }
}

#worker{
    .worker-item{
        .worker-img{
            overflow: hidden;
            img{
                transition: .3s;
            }
        }
        &:hover{
            .worker-img{
                img{
                    transform: scale(1.2);
                }
            }
            .worker-info{
                top: 0;
                color: #fff;
                &::after{
                    top: 0;
                    opacity: 1;
                }
            }
        }
        .worker-info{
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::after{
                transition: .3s;
                z-index: -1;
                content: '';
                position: absolute;
                left: 0;
                opacity: 0;
                top: 100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, #5192e1 0%, #23ced5 100%, #5192e1 100%);;
            }
        }
    }
}